PORT=3001
MONGODB_URI=mongodb://127.0.0.1:27017/saferoute
JWT_SECRET=48a98b9bffbf8ef6ca141db599451b4e9652f2ba301d4d381d888feeb6a05c6d
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:8081
NODE_ENV=development
WEATHER_API_KEY=your_openweathermap_api_key
